<!DOCTYPE html>
<html lang="en">
    <%- include('./common/header') %>
<body>
    <%- include('./common/menu') %>
    <h1>About us</h1>
    <p>about us page: Welcome to NodeJs crash course</p>
</body>
</html>